.header{
 width: 100%;
 height: 70px;
 line-height: 70px;
 margin-bottom: 10px;
 background-color: #fff;
 
}
.logo{
 display: flex;
 align-items: center;
 column-gap: 8px;
}
.logo img{
 width:35px;
 height:35px;
}
.logo h1{
 font-size: 1.5rem;
 font-weight: 700;
 color: var(--primary-color);
}
.menu{
 display: flex;
 align-items: center;
 justify-content: center;
 column-gap: 2.7rem;
}
.menu .nav__item a{
 color: #333;
 font-weight: 500;
}
.nav__icons{
 display: flex;
 align-items: center;
 justify-content: center;
 column-gap: 2rem;        
 position: relative;                
}
.fav__icon{
 font-size: 1.3rem;
 cursor: pointer;
 position: relative;
}
.badge{
 position: absolute;
 top: 7%;
 right: -18px;
 background: var(--primary-color);
 color: #fff;
}
.nav__icons img{
 width:35px;
 height:35px;
 cursor: pointer;
 margin-left: 20px;
 position: relative;
}
.mobile__menu{
 font-size: 1.5rem;
 cursor: pointer;
 display: none;
}
.nav__active{
 color: rgb(230, 160, 9) !important;
}
.sticky__header{
 position: sticky;
 top: 0;
 left: 0;
 box-shadow:  3px 3px 8px -3px #ddd;
 background: var(--card-bg-01);
}
.login__signup{
  background: coral;
  padding: 5px 20px;
  position: absolute;
  bottom: -30px;
  right: -50%;
  border-radius: 0px 10px 10px 10px;
  display: none;
}
.login__signup a{
  color: #fff !important;
}
.login__signup h6{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.nav__icons img:hover ~ .login__signup{
  display: block;
} 


@media only screen and (max-width: 768px) {
  
  .mobile__menu {
    display: block;
  }

  .navigation {
    background: rgb(0,0,0,0.53);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }

  .menu {
    width: 250px;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu a {
    color: #000d6b;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .menu__active {
    display: block;
  }
  .logo h1{
    font-size: 1.1rem;
  }
  .logo img{
   width:1rem;
   height:1rem;
  }
  .fav__icon i, .cart__icon i{
    font-size: 1.2rem ! important;
  }
  .nav__icons span img{
    width: 1.4rem;
    height: 1.4rem;
  }
  .header{
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
}